%tr
  %td
    %input{ type: 'hidden', name: 'team[player_ids][]', value: team_member.id }
    = team_member.first_name
  %td
    = team_member.last_name
  %td
    = link_to mode.capitalize, '#', class: mode
