%tr
  %td
    %input{ type: 'hidden', name: 'team[player_ids][]', value: team_member.id }
      #{team_member.first_name}
  %td
    - unless team_member.middle_initial.blank?
      #{team_member.middle_initial}
  %td
    = team_member.last_name
  %td.action
    %a{ href: '#', class: mode }
      - if mode == 'remove'
        %i.icon-trash
      - elsif mode == 'add'
        %i.icon-plus
      = mode.capitalize

