%tr
  %th{ scope: 'row' }
    = player_game_stat_fields.collection_select :player_id, team.players,
        :id, :name, { include_blank: true }, class: 'player'

  - player_stat_group.player_stat_fields.each do |field, attributes|
    %td= stats_fields.text_field(field, attributes[:input_html] || {})
