@import 'compass/css3/inline-block';

@mixin table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $black;

  caption {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
  }

  thead th {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: $body-text-color;
    color: #fff;
  }

  tbody th,
  tfoot th {
    width: 200px;
    padding: 9px 10px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    background: #fff;
  }

  td {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background: #fff;
  }

  input {
    width: 100%;
    margin: 0;
    padding: 4px;
    height: auto;
    font-size: 12px;
  }
}

table.player-stats,
table.game-stats {
  @include table;
}

table.game-stats {
  margin-bottom: 40px;

  tr.winner td,
  tr.winner th {
    background: $eggshell;
  }
}

a.box-score {
  position: relative;
  top: -30px;
  left: 5px;
  font-size: 12px;
}

.sharing {
  &.summary {
    position: relative;
    top: -45px;
    left: 175px;
    font-size: 12px;
  }

  &.complete-box-score {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  span {
    @include inline-block;
    margin-right: 8px;

    a {
      display: block;
      height: 16px;
      text-indent: -999em;
      background-position: left top;
      background-repeat: no-repeat;

      &.facebook {
        width: 16px;
        background-image: image_url('thumb-facebook.png');

        &:hover {
          background-position: left bottom;
        }
      }

      &.twitter {
        width: 22px;
        background-image: image_url('thumb-twitter.png');

        &:hover {
          background-position: left -20px;
        }
      }

      &.email {
        width: 15px;
        background-position: left 2px;
        background-image: image_url('thumb-email.png');

        &:hover {
          background-position: left -18px;
        }
      }
    }
  }
}

