%hgroup
  %h2 Admin Menu
  %h3= current_admin.school.name
%nav
  %ul
    %li
      %a{ href: edit_school_path(current_admin.school) }
        %i.icon-caret-right
        School Profile
    %li
      %a{ href: teams_path }
        %i.icon-caret-right
        My Teams
    %li
      %a{ href: new_game_path }
        %i.icon-caret-right
        Add Score
    %li
      %a{ href: games_path }
        %i.icon-caret-right
        Edit Scores
