#coming-soon-message.reveal-modal
  %a.close-modal{ href: '#' }
    %span.icon-remove

  .content
    :markdown
      Boys Baseball and Girls Softball seasons will start in the spring of 2013.
      Please check back for those scores.
