%h1
  Welcome to
  %strong Box Score,
  your place for all of New York's
  %strong high school sports scores and standings.
  Check the latest scores below:

#main.twelve.columns
  = render 'shared/filter_form'

  %section#recent-scores
    %h2 Recent Scores

    - ['Boys Basketball', 'Girls Basketball'].each do |sport|
      = render 'games/latest_games_basketball', sport: sport, games: filter.games.latest_by_sport(sport)

    - ['Boys Baseball', 'Girls Softball'].each do |sport|
      = render 'games/latest_games_baseball', sport: sport, games: filter.games.latest_by_sport(sport)

:javascript
  $(document).ready(function(){
    new BoxScore.Filters($('#filter-scores'))
  });
