- content_for :title, 'Contact Us'

%h1 Contact Us

#main.twelve.columns
  %h2 By Regular Mail
  %address
    HS Box Scores NYC, LLC
    %br
    1133 Broadway, Suite 708
    %br
    New York, NY 10010

  %h2 By Email
  %p= link_to 'info@hsboxscoresnyc.com', 'mailto:info@hsboxscoresnyc.com'

  %h2 By Phone
  %p (212)-330-7681

  %h2 By Fax
  %p (212)-330-7659
