- content_for :title, 'FAQ'

%h1 Frequently Asked Questions

#main.twelve.columns
  :markdown
    ## What is HS Box Scores NYC?

    HS Box Scores NYC, LLC is the owner and operator of [www.hsboxscoresnyc.com](www.hsboxscoresnyc.com),
    a new website dedicated to the display of NYC varsity basketball, baseball and softball box scores.

    ## How does it work?

    Varsity team coaches who register their teams can enter box scores after each game using our
    password-protected user-friendly data entry process. For added convenience, coaches may send us a
    copy of the official scorebook or other stat sheet by fax at (212) 330-7659 or by email to
    [info@hsboxscoresnyc.com](mailto:info@hsboxscoresnyc.com) and we will enter the box score on the coach's behalf.

    ## How much does it cost to register?

    It's free for all NYC varsity basketball, baseball and softball teams.

    ## Who can participate?

    Any NYC varsity basketball, baseball or softball team (boys and girls – public and private – large and small).

    ## How does a coach register?

    By (i) visiting [www.hsboxscoresnyc.com](www.hsboxscoresnyc.com), (ii) clicking the "Add Your Team"
    link/button in the upper right corner of our home page and (iii) entering the basic information in 
    the requested fields.

    ## Why should a coach register?

    HS Box Scores NYC is seeking to promote interest in varsity basketball, baseball and softball in NYC.
    Coaches who register and report their box scores in a timely and consistent manner will give players,
    family, friends, college recruiters and the media an opportunity to easily monitor and share their team's
    results.

    ## How long will it take to enter a box score?

    If a coach has the official scorebook or other stat sheet in hand, the process should not take long at all.
    Like most other tasks, the process is likely to move faster after the coach enters a few box scores and
    gets the hang of it. Again, the option of faxing or emailing a copy of the official scorebook or other stat
    sheet is always a convenient option.

    ## Can a coach report a box score if the opponent is a NYC varsity team that is not registered?

    Yes. The coach can still enter the box score for both teams, but without the opposing team's
    individual statistics.

    ## Can a coach report a box score if the opponent is not a NYC varsity team?

    Yes, but in this case the box score will need to be sent via fax or by email.

    ## What do I do if I have a question that is not answered above?

    You may call us at (212) 330-7681 or email us at [info@hsboxscoresnyc.com](mailto:info@hsboxscoresnyc.com).

    **Participation in our website is optional. We recommend that your carefully review our
    [Terms of Service](/terms-of-service) and our [Privacy Policy](/privacy-policy) before you enter any
    data onto our website.**
