- content_for :title, 'Privacy Policy'

%h1 Privacy Policy

#main.twelve.columns
 :markdown
    _**Introduction**_

    This notice describes the privacy policy of HS Box Scores NYC, LLC ("**HS Box Scores NYC**," "**we**" or "**us**"). Specifically, this privacy policy outlines the types of information that we gather about you in connection with your use of this website and the ways in which we use and share this information.

    **Please read this notice carefully.** By visiting and using the website located at [http://www.hsboxscoresnyc.com](http://www.hsboxscoresnyc.com) ("**our website**"), you agree that your use of our website, and any dispute over our online privacy practices, is governed by this notice and our Terms of Service. Because the Internet continues to evolve, we may need to change our privacy policy at some point in the future, in which case we will post a revised notice of the same on our website and update the "Last Updated" date to reflect the date of those changes. By continuing to use our website after we post any such changes, you accept the notice of our privacy policy as modified. It is your responsibility to check this notice each time before using our website.

    _**Score Data and Other Statistical Information Displayed on our Website**_

    As part of the services provided on our website, we will collect and display statistical information about varsity high school sports teams and student-athletes. This is the same type of information that is customarily provided in newspapers and other publications reporting the results of varsity high school basketball, baseball or softball games and it includes the names of the players. This privacy policy does not apply to any such information; **provided, however,** that in the event a player is under the age of thirteen (13), the provisions below under the section entitled "Children’s Privacy Statement" will govern such information.

    _**California Residents**_

    California Code Section 1798.83 permits users of this website who are California residents to request and obtain from us once a year, free of charge, information about the personal information (if any) we disclosed to third parties for direct marketing purposes in the preceding calendar year. If applicable, this information would include a list of the categories of personal information that was shared and the names and addresses of all third parties with which we shared information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to [info@hsboxscoresnyc.com](mailto:info@hsboxscoresnyc.com).

    _**Links to Third Party Websites**_

    Our website may include links to other websites which provide access to products and services offered by third parties. We do not control the privacy policies of such websites and/or third parties. When you access another website or purchase products or services from a third party, the use of any information you provide is governed by the privacy policy of the operator or the website you are visiting or the provider of such products or services.

    _**Collection and Use of Information**_

    _Personally-Identifiable Information of School Administrators_

    If you are a school administrator, coach or other representative of a school who submits or is authorized to submit score data or other statistical information through our website (a "**School Administrator**") we will collect and store personally identifiable information such as your name, telephone number and email address for purposes of maintaining and operating our website. This personally identifiable information will be displayed on the "Profile Page" of the school which you represent. As such, this personally identifiable information will be accessible to and may be viewed by the other School Administrators from the same school who submit or are authorized to submit score data or other statistical information through our website. In addition to such access and display, we may use any of this personally identifiable information for any purpose related to our website, including to contact you for customer service purposes, to inform you of important changes or additions to our website or the services offered by our website, and to send you administrative notices and other communications that we believe may be of interest to you. We also may provide any of this personally identifiable information to our third party service providers and contractors for purposes related to website administration and other services. Since this personally identifiable information will only be displayed on the "Profile Page" of the school you represent, visitors to our website and School Administrators from other schools are not authorized to view such personally identifiable information. However, as set forth in our Terms of Service, although we will take reasonable steps to safeguard and prevent unauthorized access to such personally identifiable information, we cannot and will not be responsible for the acts of those who gain unauthorized access to such personally identifiable information.

    If you do not wish to have any of your personally identifiable information to be collected, displayed or shared for any of the purposes described above, please submit a specific exclusion request via email to [info@hsboxscoresnyc.com](mailto:info@hsboxscoresnyc.com). Please note that any such exclusion request may result in the suspension or termination of your ability to submit score data and other statistical information through this website.

    _Non-Personally Identifiable Information of Website Visitors_

    We may also collect and store non-personally identifiable information that is generated automatically as you navigate through this website. For example, we may collect information about your computer’s connection to the Internet, which allows us to measure traffic on our website. We may also use a standard feature found in browser software called a "cookie." Cookies are small amounts of data that are stored in separate files within your computer’s Internet browser. Cookies are accessed and recorded by the websites you visit, and by the companies that show advertisements on websites so they can recognize the same browsers navigating online. By showing how and when visitors use our website, cookies may help us deliver advertisements, identify how many unique users visit our website, and track user trends and patterns. Our website may also use web beacons (sometimes called transparent GIFs, clear GIFs or web bugs) to access cookies and to count users who visit our website. You have the choice to set your browser to accept all cookies, reject all cookies, notify you when a cookie is set, and to delete your cookies periodically. Each browser is different, so check the "Help" menu of your browser to learn how to change your cookies preferences.

    The non-personally identifiable information we collect may be collected directly by us or it may be collected by a third-party website hosting provider, or another third-party service provider, on our behalf. We may use the information collected from you while you are using this website in a variety of ways, including to customize advertising that appears on our website, measure traffic to our website and measure user interests and traffic patterns.

    _**Children’s Privacy Statement**_

    Our website is not directed to children under the age of thirteen (13) and we do not knowingly collect personally identifiable information from children under the age of thirteen (13). We take precautions to prevent School Administrators from providing personally identifiable information of children under the age of thirteen (13). If we become aware that we have inadvertently received personally identifiable information of a child under the age of thirteen (13) as part of the services provided by this website, we will delete such information from our records forthwith.

    _**Release of Information in Certain Circumstances**_

    Please be aware that we may release information about visitors to and users of our website if required to do so by law or if, in our business judgment, such disclosure is reasonably necessary: (a) to comply with legal process; (b) to enforce our Terms of Service; or (c) to protect the rights of HS Box Scores NYC, its managers, members, employees, agents, representatives or users who comply with our Terms of Service.

    In addition, we may share or transfer personally identifiable information about School Administrators and non-personally identifiable information about our visitors in connection with a substantial corporate transaction, such as a merger, consolidation, asset sale or in connection with a bankruptcy proceeding.

    _**Storage of Information**_

    All information on our website is stored within a database to which only we and our hosting services provider are provided access. Although we have implemented security measures that we believe provide adequate protection, no physical or electronic security system is 100% protective and we cannot guarantee the security of our website’s servers or databases, nor can we guarantee that information you supply will not be intercepted while being transmitted over the Internet.

    _Last Updated: 11/13/2012_
