%h1 Privacy Policy

#main.twelve.columns
  :markdown
    This notice describes the privacy policy of HS Box Scores NYC, LLC ("**the Company**," "**we**" or "**us**").  Specifically, this privacy policy outlines the types of information that we gather about you in connection with your use of this website and the ways in which we use and share this information.

    As part of the services provided on our website, we will collect and display statistical information about varsity high school student-athletes (which includes the names of the players).  This is the same type of statistical data that is customarily provided in newspapers and other publications reporting the results of varsity high school basketball, baseball or softball games.  Except for the terms of our "Children’s Privacy Statement" described below,  this privacy policy does not apply to any score data or statistical information submitted to us or displayed on this website.  In addition, this privacy policy does not apply to any information you may provide to us, or that we may collect, offline and/or through other means (for example, at a game, by telephone or through the mail).

    Please read this notice carefully.  By visiting and using our website, you agree that your use of our website, and any dispute over our online privacy practices, is governed by this notice and our Terms of Service.  Because the Internet is continuously evolving, we may need to change our privacy policy at some point in the future, in which case we will post a revised notice of the same on this website and update the "Last Updated" date to reflect the date of those changes.  By continuing to use our website after we post any such changes, you accept the notice of our privacy policy as modified.

    _California Residents_

    California Code Section 1798.83 permits users of this website who are California residents to request and obtain from us once a year, free of charge, information about the personal information (if any) we disclosed to third parties for direct marketing purposes in the preceding calendar year.  If applicable, this information would include a list of the categories of personal information that was shared and the names and addresses of all third parties with which we shared information in the immediately preceding calendar year.  If you are a California resident and would like to make such a request, please submit your request in writing to info@hsboxscoresnyc.com.

    _Links to Third Party Websites_

    Our website may include links to other websites which provide access to products and services offered by third parties.  We do not control the privacy policies of such websites and/or third parties.  When you access another website or purchase products or services from a third party, the use of any information you provide is governed by the privacy policy of the operator or the website you are visiting or the provider of such products or services.

    _Collection and Use of Information_

    Personally-Identifiable Information

    We may collect and store information, including personally identifiable information (such as your name, postal address or email address) or other information, that you voluntarily supply to us while visiting our website.  For example, this would include information provided by you in connection with questions submitted to us through  HYPERLINK "mailto:info@hsboxscoresnyc.com" info@hsboxscoresnyc.com.

    We may use any of the information described above for any purpose related to our website, including to contact you for customer service purposes, to inform you of important changes or additions to our website or the services offered by this website, and to send you administrative notices and other communications that we believe may be of interest to you.  We also may provide any of this information to our affiliates or to third parties, including our third party service providers and contractors, for purposes related to website administration and other services.

    If you do not wish to have any of your personally identifiable information to be used or shared for any of the purposes described above, please submit that request via email to info@hsboxscoresnyc.com.

    Non-Personally Identifiable Information

    We may also collect and store, through a variety of technologies and practices, non-personally identifiable information that is generated automatically as you navigate through this website.  For example, we may collect information about your computer’s connection to the Internet, which allows us to, among other things, improve the delivery of our web pages to you and to measure traffic on our website.  We may also use a standard feature found in browser software called a "cookie" to enhance your experience with our website.  Cookies are small amounts of data that are stored in separate files within your computer’s Internet browser.  Cookies are accessed and recorded by the websites you visit, and by the companies that show advertisements on websites so they can recognize the same browsers navigating online. By showing how and when visitors use our website, cookies help us deliver advertisements, identify how many unique users visit us, and track user trends and patterns.  They also prevent you from having to re-enter your preferences on certain areas of the website where you may have entered preference information before.  Our website may also use web beacons (sometimes called transparent GIFs, clear GIFs or web bugs) to access cookies and to count users who visit this website or open HTML-formatted email messages.  You have the choice to set your browser to accept all cookies, reject all cookies, notify you when a cookie is set, and to delete your cookies periodically.  Each browser is different, so check the "Help" menu of your browser to learn how to change your cookies preferences.  For more information about cookies and web beacons, including how to manage your browser settings to accept or refuse cookies, please visit AllAboutCookies.org and OnGuardOnline.gov.

    The non-personally identifiable information we collect may be collected directly by us or it may be collected by a third-party website hosting provider, or another third-party service provider, on our behalf.  We may use the information collected from you while you are using this website in a variety of ways, including to customize features and advertising that appears on this website, deliver our website content to you, measure traffic to our website, measure user interests and traffic patterns, and improve the website and the services and features offered through this website.

    Data Collected in Connection with Ad Serving and Targeting

    We may use cookies, web beacons and similar technologies, and/or third-party ad serving software, to collect non-personally identifiable information about users of our website and website activity, and we may use this information to, among other things, serve targeted advertisements on our website.  The information collected allows us to analyze how users use our website and to track user interests, trends and patterns, thus allowing us to deliver more relevant advertisements to users.

    We may also use third-party service providers to target and serve some of the advertisements on the pages of our website, and these providers may use their own cookies, web beacons and similar technologies to collect non-personally identifiable information from our website.  These third-party service providers may use such information, sometimes in conjunction with similar non-personally identifiable information gathered through other websites, to deliver advertisements on our website, and on other websites that participate in such third-party service providers’ advertising networks, that are tailored to match the perceived interests of consumers.  This information also may be used to help measure and research an advertisement’s effectiveness, or for other purposes.

    The data collected in connection with ad serving and ad targeting on our website does not identify you personally and does not include your name, address, email address or telephone number, but it may include the IP address of your computer.

    The use and collection of information by third-party advertising service providers is governed by the relevant third party’s privacy policy and is not covered by this notice describing our privacy policy.  If you would like information on how to opt out of information collection practices, please go to  HYPERLINK "http://www.aboutads.info" www.aboutads.info.]

    Children’s Privacy Statement

    Our website is not directed to children under the age of thirteen (13) and we do not knowingly collect personally identifiable information from children under the age of thirteen (13).  We take precautions to prevent school administrators from providing personally identifiable information of children under the age of thirteen (13).  If we become aware that we have inadvertently received personally identifiable information of a child under the age of thirteen (13) as part of the services provided by this website, we will delete such information from our records forthwith.

    Required  Release of Information

    Please be aware that we may release information about visitors to our website if required to do so by law or if, in our business judgment, such disclosure is reasonably necessary: (a) to comply with legal process; (b) to enforce our Terms of Service; or (c) to protect the rights of HS Box Scores NYC, its managers, members, employees, agents, representatives or users who comply with our Terms of Service.

    In addition, we may share or transfer your information about our visitors in connection with a substantial corporate transaction, such as a merger, consolidation, asset sale or in connection with a bankruptcy proceeding.

    Storage of Information

    All information submitted to and gathered on our website is stored within a database to which only we and our hosting services provider are provided access.  Although we have implemented security measures that we believe provide adequate protection, no physical or electronic security system is 100% protective and we cannot guarantee the security of our website’s servers or databases, nor can we guarantee that information you supply will not be intercepted while being transmitted over the Internet.
