#team-stats
  %h2 Game Summary

  %table
    %thead
      %tr
        %th Team
        - (1..game.stats.periods).each do |period|
          %th= period.to_s
        %th R
        %th H
        %th E

    %tbody
      = render partial: 'team_stats_row', locals: { game: game, team: game.team }
      = render partial: 'team_stats_row', locals: { game: game, team: game.opponent }

#player-stats
  %h2= game.team.school.name
