%table.player-stats
  - if player_stat_group.name.present?
    %caption= player_stat_group.name

  %thead
    %tr
      %th Player
      - player_stat_group.player_stat_fields.each do |field, attributes|
        %th= attributes[:abbr]

  %tbody
    - team.player_game_stats(game).each do |player_game_stat|
      = render 'games/player_game_stat',
        player_stat_group: player_stat_group,
        player_game_stat: player_game_stat,
        team: team
