%table.player-stats
  %caption= team.display_name

  %thead
    %tr
      %th Player
      - team.sport.player_stat_fields.each do |field, attributes|
        %th= attributes[:abbr]

  %tfoot
    %tr.totals
      %th{ scope: 'row' } Totals
      - (1..(team.sport.player_stat_fields).count).each do
        %td

  %tbody
    - team.player_game_stats(game).each do |player_game_stat|
      = render 'games/player_game_stat',
          player_game_stat: player_game_stat,
          team: team
