%tr
  %th{ scope: 'row' }= player_game_stat.player.name

  - player_stat_group.player_stat_fields.each do |field, attributes|
    %td
      - if attributes[:type] == :checkbox
        - if player_game_stat.send(field) == '1'
          &#10003
      - else
        = player_game_stat.send(field)