- stats = game.stats.team_stats(team)
%tr{ class: winner_class(game, team) }
  %th{ scope: 'row' }= team.school.name

  - game.sport.summary_stats.each do |stat, attributes|
    %td= stats.send(stat)
