- unless admin_signed_in?
  %h1
    Welcome to
    %strong HS Box Scores NYC,
    your source for all of NYC's
    %strong high school basketball, baseball and softball scores.
    Check the latest scores below and click on "Box Score" for game statistics.

#main.twelve.columns
  = render 'shared/filter_form'

  %section#recent-scores
    = render 'shared/recent_scores'

:javascript
  $(function() {
    new BoxScore.Filters($('#filter-scores'), { filter: #{params[:filter].to_json} })
  });
