%h3 Batters
%table.player-stats.batters
  %thead
    %tr
      %th Player
      %th Pos
      %th AB
      %th H
      %th HR
      %th RBI
      %th E

  %tbody
    - game.team.players.each do |player|
      %tr
        %th{ scope: 'row' }
          = player.name
          %input{ name: 'game[player_game_stats][][player_id]', type: 'hidden', value: player.id }
        %td
          %input{ name: 'game[player_game_stats][][stats][position]', type: 'text', value: '' }
        %td
          %input{ name: 'game[player_game_stats][][stats][batting][ab]', type: 'text', value: '' }
        %td
          %input{ name: 'game[player_game_stats][][stats][batting][h]', type: 'text', value: '' }
        %td
          %input{ name: 'game[player_game_stats][][stats][batting][hr]', type: 'text', value: '' }
        %td
          %input{ name: 'game[player_game_stats][][stats][batting][rbi]', type: 'text', value: '' }
        %td
          %input{ name: 'game[player_game_stats][][stats][batting][e]', type: 'text', value: '' }

%h3 Pitchers
%table.player-stats.pitchers
  %thead
    %tr
      %th Player
      %th IP
      %th H
      %th R
      %th ER
      %th BB
      %th SO

  %tbody
    - game.team.players.each do |player|
      %tr
        %th{ scope: 'row' }
          = player.name
          %input{ name: 'game[player_game_stats][][player_id]', type: 'hidden', value: player.id }
        %td
          %input{ name: 'game[player_game_stats][][stats][pitching][ip]', type: 'text', value: '' }
        %td
          %input{ name: 'game[player_game_stats][][stats][pitching][h]', type: 'text', value: '' }
        %td
          %input{ name: 'game[player_game_stats][][stats][pitching][r]', type: 'text', value: '' }
        %td
          %input{ name: 'game[player_game_stats][][stats][pitching][er]', type: 'text', value: '' }
        %td
          %input{ name: 'game[player_game_stats][][stats][pitching][bb]', type: 'text', value: '' }
        %td
          %input{ name: 'game[player_game_stats][][stats][pitching][so]', type: 'text', value: '' }
