---
http_interactions:
- request:
    method: post
    uri: https://us11.api.mailchimp.com/2.0/lists/list.json
    body:
      encoding: UTF-8
      string: '{"filters":[],"start":0,"limit":25,"sort_field":"created","sort_dir":"DESC","apikey":"d07979bc5bebb0afba1332975c934764-us11"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total":3,"data":[{"id":"fe9083e47c","web_id":127277,"name":"Newsletter","date_created":"2015-06-23
        13:46:25","email_type_option":false,"use_awesomebar":true,"default_from_name":"Elijah
        Kim","default_from_email":"elijah@wizarddevelopment.com","default_subject":"","default_language":"en","list_rating":0,"subscribe_url_short":"http:\/\/eepurl.com\/bret21","subscribe_url_long":"http:\/\/wizarddevelopment.us11.list-manage.com\/subscribe?u=5b4b3fb12e9eeabcac2340800&id=fe9083e47c","beamer_address":"us11-60198ed513-e9cec8cd71@inbound.mailchimp.com","visibility":"pub","stats":{"member_count":0,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":0,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":0,"grouping_count":0,"group_count":0,"merge_var_count":2,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"date_last_campaign":null},"modules":[]},{"id":"58368d1795","web_id":127181,"name":"Me","date_created":"2015-06-23
        12:47:12","email_type_option":false,"use_awesomebar":true,"default_from_name":"Elijah
        Kim","default_from_email":"elijah@wizarddevelopment.com","default_subject":"","default_language":"en","list_rating":0,"subscribe_url_short":"http:\/\/eepurl.com\/breg1P","subscribe_url_long":"http:\/\/wizarddevelopment.us11.list-manage2.com\/subscribe?u=5b4b3fb12e9eeabcac2340800&id=58368d1795","beamer_address":"us11-60[...]
- request:
    method: post
    uri: https://us11.api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"fe9083e47c","email":{"email":"user@example.com"},"merge_vars":null,"email_type":"html","double_optin":true,"update_existing":false,"replace_interests":true,"send_welcome":false,"apikey":"d07979bc5bebb0afba1332975c934764-us11"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - "-100"
      X-N:
      - S
    body:
      encoding: UTF-8
      string: '{"status":"error","code":-100,"name":"ValidationError","error":"This
        email address looks fake or invalid. Please enter a real email address"}'
  recorded_at: Tue, 23 Jun 2015 17:28:19 GMT
recorded_with: VCR 2.9.3
