---
http_interactions:
- request:
    method: post
    uri: https://us14.api.mailchimp.com/2.0/lists/list.json
    body:
      encoding: UTF-8
      string: '{"filters":[],"start":0,"limit":25,"sort_field":"created","sort_dir":"DESC","apikey":"4ea39f6ae8e917c3a956b7b81e9856ee-us14"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"data":[],"errors":[]}'
  recorded_at: Sun, 25 Sep 2016 05:50:11 GMT
recorded_with: VCR 3.0.3
