---
http_interactions:
- request:
    method: post
    uri: https://us2.api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"12345","email":{"email":"validemail@email.com"},"merge_vars":null,"email_type":"html","double_optin":true,"update_existing":false,"replace_interests":true,"send_welcome":false,"apikey":"753c14ec887cdebbb8afcb578b695684-us2"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","code":200,"name":"List_DoesNotExist","error":"Invalid
        MailChimp List ID: 12345"}'
  recorded_at: Fri, 29 Jun 2018 16:34:44 GMT
recorded_with: VCR 4.0.0
