---
http_interactions:
- request:
    method: post
    uri: https://us14.api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"12345","email":{"email":"validemail@email.com"},"merge_vars":null,"email_type":"html","double_optin":true,"update_existing":false,"replace_interests":true,"send_welcome":false,"apikey":"4ea39f6ae8e917c3a956b7b81e9856ee-us14"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailchimp-Api-Error-Code:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","code":200,"name":"List_DoesNotExist","error":"Invalid
        MailChimp List ID: 12345"}'
  recorded_at: Sun, 25 Sep 2016 05:50:12 GMT
recorded_with: VCR 3.0.3
