%p
  This email is to inform you that new Box Scores have been posted for the game between #{@game.team.display_name} and #{@game.opponent.display_name}.

%p
  #{link_to 'Catch up on the scores!', game_url(@game)}
