<div id="main" class="twelve columns">
    <div class="posts-container">
    <% @posts.in_groups_of(3, false).each do |posts| %>
    	<div class="row post-container">
	    	<% posts.each do |post| %>
	      		<%= render partial: "post", locals: {post: post} %>
	      	<% end %>
	    </div>
     <% end %>
      <div class="pagination">
        <%= paginate @posts %>
      </div>
    </div>
</div>
