<div id="main" class="twelve columns">
  <% if @first_post.present? %>
    <div class="posts-container">
      <%= render @posts %>
      <div class="pagination">
        <%= paginate @posts %>
      </div>
    </div>
  <% end %>
</div>
