@import 'compass/css3/inline-block';
@import 'compass/css3/border-radius';
@import 'base/colors';

#filter-scores {
  height: 150px;
  margin: 0 -15px;
  padding: 20px 15px 0;
  border-bottom: 1px solid #bdbdbd;
  background: image_url('bg-filter-gradient.png') left bottom repeat-x;

  h2 {
    margin-top: 0;
  }

  input.date {
    position: relative;
    top: 5px;
    width: 90px;
    height: 37px;
    font-size: 12px;
  }

  span.to {
    @include inline-block;
    margin-right: 12px;
  }
}

div.input, select {
  @include inline-block;
  margin-right: 12px;
}

div.input.select,
div.input.grouped_select {
  width: 175px;

  .chzn-container {
    width: 100%;
  }

  .chzn-single abbr.search-choice-close {
    top: 12px;
  }

  .chzn-container-single .chzn-single div b {
    position: relative;
    top: 7px;
  }

  .chzn-single,
  .chzn-drop {
    @include border-radius(0);
  }

  .chzn-single {
    height: 37px;
    background: #fff;
    line-height: 37px;
  }

  li.active-result {
    width: 165px;
    font-size: 12px;
  }

  .chzn-search {
    input {
      width: 165px;
    }
  }
}

