@import 'base/colors';
@import 'base/tables';
@import 'base/fonts';

body.box-score.games {
  h1 {
    margin-bottom: 5px;
  }

  h2 {
    color: #fff;
  }

  #main {
    input[type='submit'].button {
      margin: 5px;
    }

    &.brief-scores h3 {
      margin-left: 16px;
    }
  }

  dl.home-away {
    dt {
      font-size: 16px;
      font-family: $headline-font;
    }

    dd {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  section#player-stats {
    > div {
      margin-bottom: 40px;
    }
  }
}

