@import 'base/colors';
@import 'base/tables';

body.box-score.games {
  h1 {
    margin-bottom: 5px;
  }

  h2 {
    color: #fff;
  }

  #main {
    h2, h3 {
      color: $black;
    }

    h2 {
      margin-top: 20px;
      font-size: 20px;
    }

    &.brief-scores h2 {
      margin-left: 16px;
    }
  }

  section#player-stats {
    > div {
      margin-bottom: 40px;
    }
  }

  table.player-stats,
  table.game-stats {
    @include table;
  }

  table.game-stats {
    margin-bottom: 40px;

    tr.winner td,
    tr.winner th {
      background: $eggshell;
    }
  }

  a.box-score {
    position: relative;
    top: -30px;
    left: 5px;
    font-size: 12px;
  }
}

