@import 'base';

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 16px;
}

fieldset {
  padding: 20px;
}

select {
  margin-bottom: 10px;
}

input.hasDatepicker {
  width: 100px;
}

.inline-radio {
  margin-bottom: 10px;
}

label.collection_radio_buttons {
  display: inline-block;
}

.error {
  color: $alert-color;
}

header.global {
  border-bottom: 1px solid #333;
}

#branding {
  img {
    float: left;
  }
}

nav.global {
  text-align: right;
}

#registration-links {
  display: inline-block;
}

#content {
  margin-top: 20px;
}

.admin-menu {
  li {
    list-style: none;
  }

  h2 {
    margin-bottom: 4px;
  }
}
