@import "base/colors";

.post-body {
  p {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }
}

.post-container {
  @media (max-width: 40em) {
    width: 100%
  }
  padding-top: 3em;
  padding-bottom: 6em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.post-excerpt {
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 18px;
  line-height: 24px;
  color: $grey;
  width: 80%;
}

.post-title {
  font-size: 34px;
}

.post-form-excerpt {
  height: 8em;
}
