body.teams {
  #teams-list {
    margin-top: 20px;

    table {
      width: 75%;
      border: none;
    }
  }

  table.roster {
    width: 100%;

    th {
      padding-left: 10px;
      text-align: left;
      line-height: 24px;
    }
  }

  a.delete-team {
    display: block;
    float: right;
  }

  td.action a {
    font-size: 11px;
    font-weight: 700;
  }

  .player-results {
    max-height: 300px;
    margin-top: 10px;
    overflow: auto;

    table {
      width: 100%;
    }

    td {
      font-size: 12px;
      line-height: 12px;
    }
  }

  .input.select {
    margin-bottom: 15px;
  }

  input#update-team {
    margin-left: 20px;
  }

  a.delete-team {
    margin-right: 20px;
  }
}

